.root {
    -fx-background-color: #111111;
}

.label {
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "white";
    -fx-alignment: center;
}

#helloID {
}

#HellID {
    -fx-font-size: 50;
    -fx-text-fill: "green";
}