/*
 * File:         stylesheet.css
 * Institution:  FIT BUT 2021/2022
 * Course:       IJA - Java Programming Language
 * Authors:      Lucie Svobodová, xsvobo1x@stud.fit.vutbr.cz
 *               Jakub Kuzník, xkuzni04@stud.fit.vutbr.cz
 *
 * File contains styles for the GUI - main scene.
 */

.root {
    -fx-background-color: #EEEEEE;
}

.vbox {
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.label {
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "black";
    -fx-alignment: center;

}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

#helloID {
}

#HellID {
    -fx-font-size: 50;
    -fx-text-fill: "green";
}